.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Change calendar icon color in date input to #00dac6 */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(62%) sepia(98%) saturate(469%) hue-rotate(124deg)
    brightness(98%) contrast(101%);
}

/* For Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(62%) sepia(98%) saturate(469%) hue-rotate(124deg)
    brightness(98%) contrast(101%);
}

/* For Edge/IE (if supported) */
input[type="date"]::-ms-input-placeholder {
  color: #00dac6;
}
